In [1]:
import tkinter as tk
from tkinter import *
from tkinter.ttk import Combobox
from tkinter import ttk
import pandas as pd
import numpy as np
import math

In [2]:
df_tel = pd.read_csv("TelcomCustomer-Churn.csv")

In [3]:
df_tel.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [4]:
df_tel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
import math
df_tel.select_dtypes(include=['object']).columns[1:-1]
# math.ceil(df_tel[list(df_tel.select_dtypes(include=['int64', 'float64']).columns)[1]].max()/10)*10

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'TotalCharges'],
      dtype='object')

In [6]:
def get_data(event):
    global pred_data
    pred_data={}
    idx=0
    for col in list(df_tel.select_dtypes(include=['object']).columns)[1:-1]:
        pred_data[col] = cb[idx].get()
        idx+=1
    idx=0
    for col in list(df_tel.select_dtypes(include=['int64', 'float64']).columns):
        pred_data[col] = slider[idx].get()
        idx+=1
    window.destroy()
    return()

In [7]:
window = tk.Tk()
var = tk.StringVar()

x=10
y = 50
cb=[]
for col in list(df_tel.select_dtypes(include=['object']).columns)[1:-1]:
    ls_col = df_tel[col].unique()
    # Label
    txt = ttk.Label(window, text = "Select the "+col+" :", font = ("Times New Roman", 10))
#     var.set(ls_gen[0])
    data = tuple(ls_col)
    cb.append(tk.ttk.Combobox(window, values=data, textvariable=data[0]))
    txt.place(x=x, y=y-22)
    cb[-1].place(x=x, y=y)
    if x+200<400:
        x+=200
    else:
        x=10
        y+=70
    cb[-1].current(0)
    
x=410
y=50
slider = []
for col in list(df_tel.select_dtypes(include=['int64', 'float64']).columns):
    
    txt = ttk.Label(window, text = "Select the "+col+" :", font = ("Times New Roman", 10))
    txt.place(x=x, y=y-22)
    
    to = math.ceil(df_tel[col].max()/10)*10
    tickinterval = (to - 0)/10
    slider.append(Scale(window, from_=0, to=to, tickinterval=to/(to/10), length=140))
    slider[-1].set(round(df_tel[col].mean()/10)*10)
    slider[-1].place(x=x, y=y)
    y+=180

action = ttk.Button(window, text="Predict")
action.bind('<Button-1>', get_data)
action.place(x=250, y=600)

window.title("Telcom Customer attributes")
window.geometry("580x650+10+10")
# window.configure(background="blue")
window.lift()
window.mainloop()

In [8]:
pred_data

{'gender': 'Male',
 'Partner': 'Yes',
 'Dependents': 'Yes',
 'PhoneService': 'Yes',
 'MultipleLines': 'No phone service',
 'InternetService': 'DSL',
 'OnlineSecurity': 'Yes',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'Yes',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'Yes',
 'Contract': 'Month-to-month',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Electronic check',
 'TotalCharges': '29.85',
 'SeniorCitizen': 0,
 'tenure': 54,
 'MonthlyCharges': 95}